## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

WARNING:tensorflow:From C:\Users\18562\anaconda\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ['EIN', 'NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
application_type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_type_counts[application_type_counts < 550].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
Other      804
T8         737
T7         725
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classificacion_val = application_df['CLASSIFICATION'].value_counts()
classificacion_val.head()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classificacion_val1 = classificacion_val.loc[classificacion_val > 1]
classificacion_val1.head()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classificacion_val[classificacion_val < 400].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies = pd.get_dummies(application_df)
application_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [10]:
# Split our preprocessed data into our features and target arrays
y = application_dummies['IS_SUCCESSFUL'].values
X = application_dummies.drop('IS_SUCCESSFUL', axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 1   ## testing these values based on the chart given

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

WARNING:tensorflow:From C:\Users\18562\anaconda\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5981 (23.36 KB)
Trainable params: 5981 (23.36 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [13]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

WARNING:tensorflow:From C:\Users\18562\anaconda\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [14]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
WARNING:tensorflow:From C:\Users\18562\anaconda\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\18562\anaconda\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

804/804 [==============================] - 3s 2ms/step - loss: 0.5676 - accuracy: 0.7217
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5533 - accuracy: 0.7299
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5509 - accuracy: 0.7320
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5491 - accuracy: 0.7312
Epoch 5/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5479 - accuracy: 0.7329
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5473 - accuracy: 0.7339
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5467 - accuracy: 0.7332
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5460 - accuracy: 0.7352
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7352
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5449 - accuracy: 0.7355
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5445 - accuracy: 0.7357
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5435 - accuracy: 0.7357
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7359
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5429 - accuracy: 0.7358
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7369
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7361
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7367
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7378
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7369
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5413 - accuracy: 0.7374
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7358
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7367
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5411 - accuracy: 0.7380
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5406 - accuracy: 0.7380
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7392
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5406 - accuracy: 0.7380
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7388
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7377
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5397 - accuracy: 0.7390
Epoch 30/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7377
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7383
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5395 - accuracy: 0.7383
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7390
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7383
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7387
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7389
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7386
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5388 - accuracy: 0.7388
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7391
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7392
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7390
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7390
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7391
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5380 - accuracy: 0.7393
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5381 - accuracy: 0.7395
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7385
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5378 - accuracy: 0.7390
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5374 - accuracy: 0.7388
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7402
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7402
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7407
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5373 - accuracy: 0.7401
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7404
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7400
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7401
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7399
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5367 - accuracy: 0.7402
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7399
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7404
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5365 - accuracy: 0.7402
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7401
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7400
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5362 - accuracy: 0.7404
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5363 - accuracy: 0.7409
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5363 - accuracy: 0.7402
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7407
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7409
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7408
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7397
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7406
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5355 - accuracy: 0.7401
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7407
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7398
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5358 - accuracy: 0.7405
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5350 - accuracy: 0.7407
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7400

Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5355 - accuracy: 0.7409
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5358 - accuracy: 0.7402
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7409
Epoch 80/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5359 - accuracy: 0.7409
Epoch 81/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5349 - accuracy: 0.7409
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5356 - accuracy: 0.7411
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5348 - accuracy: 0.7398
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5356 - accuracy: 0.7411
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5349 - accuracy: 0.7413
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5351 - accuracy: 0.7406
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5348 - accuracy: 0.7411
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7408
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5346 - accuracy: 0.7406
Epoch 90/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5348 - accuracy: 0.7406
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5344 - accuracy: 0.7408
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5350 - accuracy: 0.7403
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5348 - accuracy: 0.7407
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7410
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5345 - accuracy: 0.7412
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7407
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5344 - accuracy: 0.7413
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5345 - accuracy: 0.7409
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5351 - accuracy: 0.7413
Epoch 100/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5345 - accuracy: 0.7410

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5559 - accuracy: 0.7263 - 551ms/epoch - 2ms/step
Loss: 0.5558677911758423, Accuracy: 0.7262973785400391

In [16]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")

C:\Users\18562\anaconda\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(